.imagen-jhon {
    text-align: center;
  
  }
  
  hr {
    border-width: 4px;
    border-style: double;
    border-color: rgb(7, 7, 10);
    width: 100%;
  }
  
   .columns {
    column-count: 2;
    column-gap: 30px;
    column-rule: 1px solid black;
    
    font-size: 20px;
  }
  
  .contenedor-columnas {
      width: 100%;
      margin: auto;
      margin-bottom: 50px;
      
  }
  
  .CP {
      width: 33.333%;
      float: left;
      padding: 20px 20px;
      box-sizing: border-box;
      margin: auto;
    
  }
  
  .CP img {
      width: 100%;
  
  }
  
  h4{
      margin-top: 15px;
      font-size: 16px;
  }
  h5{
      font-family: Lato, sans-serif;
      line-height: 1.5;
      font-weight: normal;
      padding: 10px 0;
      font-size: 12px;
  }
  h3{
    font-family: 'Times New Roman', Times, serif
  }
  
  .banner{
    width: 100%;
    background: #092327;
    clear: both;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    transition: 1s;
  }
  .banner h3{
    color: #fff;
    font-size: 20px;
  }
  
  .banner:hover{
    background: #444;
    transition: 0.4s;
  }
  
  header nav{
    background: #000;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
  }
  
  header nav ul{
    list-style: none;
    overflow: hidden;
  }
  
  header nav ul li{
    float: left;
  }
  
  header nav ul li a{
   display: block;
   padding: 20px;
   color: #fff;
   text-decoration: none;
  }
  
  header nav ul li a:hover{
    background: rgba(113, 138, 113, 0.5);
    color: #00ced1;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 1);
  
  }
  
  footer{
    font-family: serif;
    font-size: 20px;
    position: relative;
    margin-top: -10px;
    width: 90%;
    padding: 50px;
    clear: both;
    background: rgb(14, 12, 12);
    text-align: center;
    color: #fff;
    transition: 1s;
  }
  
  footer:hover{
    background: #444;
    transition: 0.5s;
  
  }